@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

:root {
    --font-family: 'Roboto Condensed', sans-serif;

    --bg-color: #8758FF;
    --primary-color: #F2F2F2;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font-family);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: 2px solid var(--primary-color);
    display: inline-block;
    font-size: 3em;
    padding: 10px;
    margin: 20px;
}

.btn-jogar {
    padding: 10px 15px;
    border: 2px solid var(--primary-color);
    background: none;
    border-radius: 5px;
    color: var(--primary-color);
    cursor: pointer;
    margin-top: 20px;
    transition: .5s ease-in-out;
}

.btn-jogar:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
}